@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #111;
  --color-bg: #FFFACC;
  --color-highlight: #CE7B91;
}

body {
  color: var(--color-primary);
  background: var(--color-bg);
}

.hoverable-area {
  
}