.piano-key {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.white-key {
  width: 50px;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
  z-index: 0; /* Ensure white keys are below black keys */
}

.black-key {
  width: 30px;
  height: 120px;
  background-color: black;
  position: absolute;
  z-index: 1; /* Place black keys above white keys */
  cursor: pointer;
  transform: translateX(-15px);
}

/* Adjust the position of the white keys in the piano
   except the first one */
.white-key:not(:first-child) {
  border-radius: 4rem;
}
